.textName {
  color: black;
  font-size: 26px;
}
.about {
  text-align: center;
  padding: 30px 20px 15px 20px;
}
.textTag,
.textLocation {
  color: gray;
}
.profile {
  border: 2px solid black;
  border-radius: 8px;
  width: 220px;
  margin: 30px auto;
}
.list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: lightblue;
  border-top: 2px solid gray;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-right: 2px solid gray;
  padding: 0 5px;
}
.listItem:last-child {
  border-right: none;
}

.itemSpan {
  font-weight: semi-bold;
}
.itemNumbers {
  font-weight: bold;
}
.img {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 3px;
  background-color: black;
}
